__pycache__/
*.pyc
# === 核心模型文件 (绝对不能提交) ===
*.pt
*.pth
*.pkl
*.png
*.jpg

# === 常见的输出与数据集目录 (防止误提交) ===
mvtec_loco_ad_models/
checkpoints/
output/
results/
datasets/

# === VS Code 与系统生成文件 ===
.vscode/
.idea/
.DS_Store

# 忽略可视化输出结果
vis_results_all/
vis_results_breakfast_box/

